/**
 * 夜间模式
*/
:root {
	--bg: #282828;
	--white: #888;
	--dark: #888;
}
body {
	background: #1f2120;
}

.page-search,
.input-bg {
	background: #282828;
}
.bottom-row {
	background: #252726;
}
.search-from {
	background: #252726;
}
.search-input::-webkit-input-placeholder {
	color: #555;
}


.suggestion li {
	-webkit-filter: invert(100%) brightness(60%);
	filter: invert(100%) brightness(60%);
}
.suggestion li:active {
	background-color: #c4c4c4;
}
.shortcut3 li:not(:first-child),
.empty-input {
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}
.theme-white .bookmark .list .text {
	text-shadow: none;
}
.search-btn:active {
	color: #444;
}
.addbook-input,#addbook-upload {
	background: #212121;
}
.set-option .set-checkbox:checked + label:before {
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}
.set-option .set-checkbox + label::after{
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}
.set-option:active{
	background: #212121;
}
.set-hr {
	background-color: #212121;
}

.logo {
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}
